/*
 Ingresa el CSS del proyecto en este archivo
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* Establece la fuente de Google aquí */
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.71429;
    background-color: #fff;
}

img {
    vertical-align: middle;
}

li:hover {
    color: #E95853;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

a:hover {
    color: #E95853;
}

.link {
    font-weight: 700;
    display: inline-block;
}

.link-text {
    margin-top: 15px;
    color: #373B47;
}

li=>img {
    max-width: 100%;
}

#home {
    background-image: url(../assets/images/bg-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 554px;
    text-align: center;
    text-align: center;
}

#home .row {
    color: white;
    margin-bottom: 20px;
}

.text-home {
    font-size: 53px;
}

.btn-home {
    background: #2ECC71;
    color: #fff;
    padding: 11px 20px;
    border-radius: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 63px;
    display: inline-block;
    font-size: 14px;
}


/*Services*/

#services {
    background-color: #F17C72;
    text-align: center;
    color: #fff;
    padding: 70px 7px:
}

.box-services {
    display: inline-block;
    margin-top: 50px;
}

.box-services img {
    margin-bottom: 20px;
}

.text-services {
    font-size: 35px;
    letter-spacing: 2px;
}
/*Work*/
#work{
   text-align: center;
   padding: 70px 7px;
}



.box-work img{
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.box-work img:hover {opacity: 0.5;}

.text-work{
   font-size: 35px;
   letter-spacing: 2px;
}

/*Footer*/
footer{
   text-align: center;
   height: 70px;
    background: #373B47;
    color: white;
    padding-top: 7px;
}